<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.appproxy.plugin">
    <application
        android:theme="@style/Theme.Shadowsocks">
        <meta-data android:name="com.github.appproxy.plugin.version"
                   android:value="0.1.0"/>
    </application>
</manifest>
